Django==2.0.2
django-filter==1.1.0
djangorestframework==3.7.7
Markdown==2.6.11
pytz==2018.3
certifi==2017.7.27.1
chardet==3.0.4
django-node==4.0.0
django-rest-framework==0.1.0
django-webpack-loader==0.5.0
idna==2.6
optional-django==0.1.0
requests==2.18.4
urllib3==1.22
