.App {
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.header{
  position:'relative';
  z-index: 2000;
  margin: 0;
}

.topRow{
    margin: 0 0px 55px 0px;
    width: 100%;
}

.filter{
  position:'relative';
  z-index: 1999;
  margin: 0;
}

.filterHolder {
}

.userVisuals{
    margin: 0px 0px 55px 0px;
}

.userVisuals div{
}

#grid{
}

.table-reference{
    margin: 0px 0px 55px 0px;
    //border: 5px solid black;
}

.table{
    margin: 125px 0px 55px 0px;
}
