.Visual{
  overflow-y: auto;
  //height: 80vh;
  //width: 80%;
}

.Chart{
  //width:80%;
  float:left;
  height: inherit;
}

.FullScreenShower{
  margin-left:60%;
}

.Interpretor{
  width: 50%;
  float:left;
}

.VisualFilter{
  margin-left: 50%;
}

.VisualName {
  float:left;
  width:85%;
}

.VisualButtons{
  margin-left: 85%;
}

.VisualButtons button{
  display: inline-block;
}

VisualButtons > img {
  max-width: 100%;
  max-height: 100%;
}

.HiddenButtons button{
  display: inline-block;
}
