.Visual{
  overflow-y: hidden !important;
  padding: 0;
  padding-top: 20px;
  height: 100%;
  //width: 80%;
  padding-right:5px;
  padding-left:5px;
}

.BarChartFS {
    display: block;
    width: 1010px;
    height: 85%;
}

.ULTAMATE_FULLSCREEN {
    position: fixed !important;
    z-index: 99999 !important;
    height: 100% !important;
    top: 52px !important;
    right: 0px;
    left: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding-bottom : 0px !important;
    padding-right : 0px !important;
}

.Chart{
  //width:80%;
  height:100% !important;
  float:left;
  height: inherit;
}

.FullScreenShower{
  margin-left:80%;
  padding-left: 13px;
}

.Interpretor{
  //width: 50%;
  //float:left;
}

.VisualFilter{
  //margin-left: 50%;
}

.VisualName {
  float:left;
  width:85%;
}

.VisualButtons{
  margin-left: 85%;
}

.VisualButtons button{
  display: inline-block;
}

VisualButtons > img {
  max-width: 100%;
  max-height: 100%;
}
