.App ul{

}

.App li{
    display: block;
    background: #666;
    margin: 5px 5px 3px 5px;
    float:left;
}

.App li.small{
    width: 10em;
    height: 10em;
}

.App li.medium{
    width: 95%;
    height: 20em;

}

.App li.large{
    width: 95%;
    height: 40em;
}

.App li:hover{
    background:#999;
    cursor:pointer;
}

